<h3>{{name}}</h3>
<div class="alert alert-success" ng-show="isSent">
  <strong>Success!</strong> Email successfully sent.
</div>
<form name="formContact">
  <div class="form-group" ng-class="{'has-error': formContact.name.$invalid && formContact.name.$dirty}">
    <label>Name</label>
    <input type="text" class="form-control" name="name" ng-model="contact.name" required>
  </div>
  <div class="form-group" ng-class="{'has-error': formContact.email.$invalid && formContact.email.$dirty}">
    <label>Email</label>
    <input type="text" class="form-control" name="email" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" ng-model="contact.email" required>
  </div>
  <div class="form-group" ng-class="{'has-error': formContact.phoneNumber.$invalid && formContact.phoneNumber.$dirty}">
    <label>Phone Number</label>
    <input type="text" class="form-control" name="phoneNumber" ng-model="contact.phoneNumber" ui-br-phone-number required>
  </div>
  <div class="form-group" ng-class="{'has-error': formContact.subject.$invalid && formContact.subject.$dirty}">
    <label>Subject</label>
    <input type="text" class="form-control" name="subject" ng-model="contact.subject" required>
  </div>
  <div class="form-group" ng-class="{'has-error': formContact.message.$invalid && formContact.message.$dirty}">
    <label>Message</label>
    <textarea class="form-control" type="textarea" maxlength="140" rows="7" ng-model="contact.message" required></textarea>
  </div>

  <button type="button" id="submit" name="submit" class="btn btn-primary pull-right" ng-disabled="formContact.$invalid" ng-click="send()">Send</button>
</form>
