<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <img src="images/reinaldoleal.png" alt="Reinaldo Leal">
    </div>
    <div class="item">
      <img src="images/distribuicao.png" alt="Distribuição">
      <div class="carousel-caption">
        <p>Rede de distribuiçãp</p>
      </div>
    </div>
    <div class="item">
      <img src="images/solar.png" alt="Solar">
      <div class="carousel-caption">
        <p>Energia solar</p>
      </div>
    </div>
    <div class="item">
      <img src="images/eolica.png" alt="Eólica">
      <div class="carousel-caption">
        <p>Energia eólica</p>
      </div>
    </div>
  </div>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>
